/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Test Styles */

.affixed-element-top.affix {
  top: 10px;
}

.affixed-element-top.affix-bottom {
  position: absolute;
}

.affixed-element-bottom {
  margin-bottom: 0;
}

.affixed-element-bottom.affix {
  bottom: 10px;
}

.affixed-element-bottom.affix-bottom {
  position: relative;
}

.grow-btn, .shrink-btn {
  color: #FFF;
}

.grow-btn {
  background-color: #2ECC40;
}

.grow-btn:hover {
  background-color: #3D9970;
}

.shrink-btn {
  background-color: #FF4136;
}

.shrink-btn:hover {
  background-color: #85144B;
}

.video {
  width: 300px;
  height: 300px;
  background-color: navy;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
